.container {
  padding: 3rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
  background-image: url("/background/lemon.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  box-sizing: border-box;
}

.heading {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.description {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.linkWrapper {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
}

.button {
  padding: 0.7rem 1.5rem;
  font-size: 1rem;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 6px;
  cursor: pointer;
}

.button:hover {
  background-color: #e6e6e6;
}
