.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
}

textarea {
  padding: 0.5rem;
  height: 100px;
}

button {
  padding: 0.6rem;
  background-color: #00b894;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
