.myform {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
}

.myinput {
  padding: 0.5rem;
  height: 40px;
  resize: vertical;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.mybutton {
  padding: 0.6rem;
  background-color: #00b894;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
